html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* variables */
:root{
    --border: 1px solid #ccc;
    --radius: 4px;
}

/* styles */
body{
    background-color: #f5f5f5;
    font-family: tahoma;
}
a, button{
    cursor: pointer;
}
.todo-box {
	position: absolute;
	width: 480px;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border: var(--border);
	border-radius: var(--radius);
    padding: 20px;
    background-color: #fff;
}
.todo-form {
	position: relative;
}
.todo-form > input[type="text"] {
	display: block;
	width: 100%;
	padding: 15px 10px;
	border: var(--border);
	box-sizing: border-box;
	border-radius: var(--radius);
	font-size: 18px;
}
.todo-seprator {
	width: 100%;
	text-align: center;
	margin: 20px 0;
	font-size: 18px;
}
.todo-seprator::after {
	content: "";
	width: 100%;
	height: 0;
	border-bottom: 1px solid #ccc;
	display: block;
	position: relative;
	top: -10px;
}
.todo-seprator > span {
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 0 12px;
}
.item {
	padding: 15px 12px;
	background-color: #f3f3f3;
    border: var(--border);
    margin-bottom: 5px;
    position: relative;
}
.actions {
	position: absolute;
	right: 12px;
	top: 15px;
}
.actions > button {
	font-size: 12px;
	margin: 0 2px;
}
.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
}
.modal-box {
	position: fixed;
	width: 480px;
	padding: 60px 10px 10px;
	border-radius: var(--radius);
	border: var(--border);
	background-color: #fff;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}
.edit-input {
	width: 100%;
	line-height: 50px;
	padding: 0 10px;
	box-sizing: border-box;
	border: var(--border);
	border-radius: var(--radius);
	font-size: 16px;
}
.modal-box > video {
	width: 100%;
}
.modal-close {
	position: absolute;
	top: 15px;
	left: 10px;
}